.about {
  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, $sapphire 50%, $base-white 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 55px;
    padding-bottom: 62px;
    border-top: 1px solid $light-slate-grey;
  }
}
