.advantages {
  background-color: $ghost-white;
  padding-top: 146px;
  padding-bottom: 91px;

  @media (max-width: $tablet-width) {
    padding: 100px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0;
  }

  h2 {
    text-align: center;
    font-family: $alumni-sans;
    color: $sapphire;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 56px;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 60px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.advantages__container {
  margin: 0 auto;
  padding: 0 183px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.advantages__enumeration {
  position: relative;
  display: grid;
  grid-template-columns: 340px 340px;
  column-gap: 367px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 53px;
    row-gap: 350px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.advantages__gym {
  background-color: $resolution-blue;
  color: $base-white;
  padding: 65px 34px;

  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 240px;
    max-width: 240px;
    top: 20px;
  }

  @media (min-width: 768px) {
    position: absolute;
    min-width: 442px;
    max-width: 442px;
    left: 50%;
    transform: translateX(-50%) translateY(40px);
  }

  @media (max-width: $tablet-width) {
    top: 172px;
    padding: 45px 135px;
  }

  @media (max-width: $mobile-width) {
    transform: translate(0);
    padding: 50px 64px;
    width: 100%;
  }

  span {
    display: block;
    font-size: 74px;
    line-height: 111px;
    font-weight: 700;
    text-align: center;
  }

  h3 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}


.advantages__option {
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
  gap: 30px;

  @media (max-width: $mobile-width) {
    display: block;
    padding: 50px 64px;
  }
}

.advantages__description {
  h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $roboto-condensed;
    color: $sapphire;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 15px;
    }

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }

  p {
    color: $sapphire;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }
}

.advantages__wrapper {
  span {
    display: block;

    @media (min-width: $desktop-width) {
      margin-left: 19px;
    }

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }

  span:first-of-type {
    font-size: 71px;
    line-height: 107px;
    font-weight: 700;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(127.61deg, $crimson 0%, $cobalt 45.58%);
  }

  span:last-of-type {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $persian-blue;
  }
}

.advantages__option--aspect {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $crimson;
      opacity: 0.2;
      bottom: 0;
    }
  }
}
