.contacts {
  padding-left: 120px;

  @media (max-width: $tablet-width) {
    padding: 60px 179px 62px 133px;
  }

  @media (max-width: $mobile-width) {
    padding: 65px 15px 63px;
  }

  h2 {
    font-family: $alumni-sans;
    color: $sapphire;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 38px;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 35px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}


.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 4px;
  display: flex;
  gap: 120px;

  @media (max-width: $tablet-width) {
    gap: 96px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 18px;
  }

  li {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 20px;

    @media (max-width: $tablet-width) {
      column-gap: 35px;
    }
  }

  li:first-child {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 102px;
      background-color: $light-slate-grey;
      top: 0;
      right: -60px;

      @media (max-width: $tablet-width) {
        right: -50px;
        top: 6px;
        height: 129px;
      }

      @media (max-width: $mobile-width) {
        display: none;
      }
    }
  }
}

.contacts__item {
  h3 {
    margin: 0;
    color: $sapphire;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 5px;
    }
  }

  a,
  p {
    color: $sapphire;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $bright-turquoise;
    }

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
