.footer {
  background-color: $black-russian;
  padding-top: 41px;
  padding-bottom: 32px;

  @media (max-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 44px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 0;
  }
}

.footer__navigation {
  display: flex;
  gap: 40px;

  @media (max-width: $mobile-width) {
    gap: 71px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    margin-top: 8px;
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
      gap: 30px;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      gap: 28px;
    }
  }

  ul:first-of-type {
    max-width: 700px;
  }

  ul:last-of-type {
    max-width: 300px;
  }

  li {
    a {
      color: $base-white;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $screamin-green;
        outline: none;

        svg {
          fill: $screamin-green;
        }
      }

      &:active {
        color: $drover;

        svg {
          fill: $drover;
        }
      }

      @media (max-width: $mobile-width) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}


.footer__social {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    max-width: 300px;
    margin-left: 30px;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  li {
    a {
      svg {
        fill: $base-white;
      }

      &:hover,
      &:focus {
        color: $screamin-green;
        outline: none;

        svg {
          fill: $screamin-green;
        }
      }

      &:active {
        color: $drover;

        svg {
          fill: $drover;
        }
      }
    }
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__logo {
  display: block;
  margin-right: 237px;
  margin-top: -5px;

  &:hover svg,
  &:focus-visible svg {
    fill: $screamin-green;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    margin-top: 2px;
    margin-right: 32px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-right: 0;
  }

  svg {
    width: 88px;
    height: 32px;
    fill: $base-white;

    @media (max-width: $tablet-width) {
      width: 82px;
      height: 18px;
    }

    @media (max-width: $mobile-width) {
      width: 68px;
      height: 15px;
    }
  }
}
