.gym {
  padding-top: 120px;
  padding-bottom: 235px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 183px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 65px;
    padding-bottom: 0;
  }
}


.gym__photo {
  @media (min-width: 1200px) {
    img {
      min-width: 660px;
      max-width: 660px;
      height: 401px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
      height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;

    img {
      width: 100%;
      height: 100%;
      min-height: 313px;
    }
  }
}

.gym__video {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $dark-cerulean;
    z-index: 1;
  }

  @media (min-width: 1200px) {
    min-width: 364px;
    top: 289px;
    left: 117px;

    img {
      min-width: 364px;
    }

    &::before {
      height: 228px;
    }
  }

  @media (min-width: 768px) {
    position: absolute;
    max-width: 266px;
    height: 167px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;

    img {
      width: 266px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 320/167;
    }
  }
}

.gym__video iframe {
  position: absolute;
  top: 0;
  z-index: -1;

  @media (max-width: $tablet-width) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.gym__video iframe.active {
  z-index: 2;
}


.gym__demonstration {
  position: relative;
  @media (min-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }
}

.gym__description {
  justify-self: center;

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    max-width: 360px;
    margin-left: 63px;
  }

  @media (min-width: $tablet-width) {
    max-width: 502px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    margin-top: 38px;
    margin-bottom: 7px;
    font-family: $alumni-sans;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $sapphire;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      margin-top: 0;
      margin-left: -20px;
      margin-bottom: 0;
      text-align: center;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 3px;
      margin-left: 0;
      text-align: left;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 40px;
    font-family: $roboto-condensed;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $sapphire;

    @media (max-width: $tablet-width) {
      text-align: center;
      margin-bottom: 33px;
    }

    @media (max-width: $mobile-width) {
      text-align: left;
      margin-bottom: 25px;
    }
  }

  p:last-of-type {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  p {
    font-family: $roboto-condensed;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: $sapphire;
    margin: 0;
    margin-bottom: 9px;

    @media (max-width: $tablet-width) {
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 45px;
    }

    @media (max-width: $mobile-width) {
      margin: 0;
      max-width: 260px;
      text-align: left;
      margin-bottom: 32px;
    }
  }
}

.gym__container {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-width: 678px;
    padding: 0 45px;
    margin: 0 auto;
  }
}

.gym__button {
  position: absolute;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: url("../img/svg/play.svg");
  background-color: transparent;
  background-position: 50% 50;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  top: 38%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  @media (max-width: $tablet-width) {
    background-image: url("../img/svg/play_tablet.svg");
    width: 73px;
    height: 73px;
    top: 27%;
  }

  @media (max-width: $mobile-width) {
    top: 28%;
    transform: translate(-50%);
  }

  &:hover {
    border: 1px solid $sprindle;
  }
}

