.header {
  background: $header-gradient;
  padding-top: 30px;
  padding-bottom: 51px;

  @media (max-width: $tablet-width) {
    background: $header-gradient-tablet;
    padding-top: 40px;
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    background: $header-gradient-mobile;
    padding-top: 16px;
    padding-bottom: 76px;
  }
}

.header__logo {
  display: block;

  @media (min-width: $desktop-width) {
    width: 122px;
    height: 44px;
  }

  @media (max-width: $tablet-width) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $mobile-width) {
    width: 69px;
    height: 24px;
  }

  svg {
    fill: $base-white;

    @media (min-width: $desktop-width) {
      width: 122px;
      height: 44px;
    }

    @media (max-width: $tablet-width) {
      width: 82px;
      height: 17px;
    }

    @media (max-width: $mobile-width) {
      width: 69px;
      height: 24px;
    }
  }
}

.header__phone-wrapper {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    column-gap: 20px;
    row-gap: 5px;
    margin-top: -6px;
    max-width: 300px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    max-width: 150px;
  }
}

.header__phone {
  display: block;
  color: $base-white;
  font-family: $alumni-sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: $bright-turquoise;
    outline: none;
  }

  &:active {
    color: $malibu;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

.header__top {
  display: flex;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: relative;
  }

  @media (max-width: $tablet-width) {
    max-width: 678px;
  }
}

.header__main {
  display: flex;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    max-width: 678px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
  }
}

.header__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: $roboto-condensed;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $base-white;
  margin-top: 186px;
  padding-left: 20px;
  margin-right: 17px;
  max-width: 140px;

  @media (max-width: $tablet-width) {
    padding: 0;
    max-width: 113px;
    margin-right: auto;
    margin-top: 135px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 123px;
    margin-bottom: 55px;
  }
}

.header__description {
  margin-top: 95px;
  margin-right: 62px;

  @media (max-width: $tablet-width) {
    margin-top: 70px;
    margin-right: 0;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: $base-white;
    font-family: $alumni-sans;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-bottom: 13px;
    margin-left: 116px;

    @media (max-width: $tablet-width) {
      font-size: 30px;
      line-height: 41px;
      position: absolute;
      left: 147px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 32px;
      text-align: right;
      left: 123px;
    }
  }

  h1 {
    color: $base-white;
    margin: 0;
    padding: 0;
    font-family: $alumni-sans;
    text-transform: uppercase;
    font-size: 92px;
    line-height: 110px;
    text-align: right;
    margin-bottom: 49px;
    letter-spacing: 0.05em;

    @media (max-width: $tablet-width) {
      text-transform: none;
      font-size: 72px;
      line-height: 87px;
      position: absolute;
      top: 45px;
      left: 134px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      margin-bottom: 20px;
      top: 44px;
      left: 100px;
    }
  }
}

.header__picture {
  img {
    display: block;
  }

  @media (min-width: 1215px) {
    margin-top: -23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -8px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 19px;
    margin-left: auto;
    width: 324px;

    img {
      min-width: 324px;
      max-width: 324px;
      height: 390px;
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__buy {
  padding: 20px 53px 19px;
  display: block;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    padding: 17px;
    margin-left: 140px;
    margin-top: 60px;
    width: 182px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__buy,
.header__button {
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: 4px solid $base-white;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  color: $base-white;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    min-width: 234px;
    max-width: 236px;
  }

  &:hover,
  &:focus {
    border-color: $bright-turquoise;
    color: $bright-turquoise;
    border-radius: 5%;
  }

  &:active {
    border-color: $egyptian-blue;
    color: $egyptian-blue;
    border-radius: 10%;
  }
}

.header__content {
  display: flex;

  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.header__button {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 20px;
  }
}

.header__desktop-phone {
  position: absolute;
  right: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
