.header {
  background: $header-gradient;
  padding-top: 30px;
  padding-bottom: 51px;

  @media (max-width: $tablet-width) {
    background: $header-gradient-tablet;
    padding-top: 40px;
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    background: $header-gradient-mobile;
    padding-top: 16px;
    padding-bottom: 74px;
  }
}


.header__logo {
  display: block;

  svg {
    fill: $base-white;

    @media (min-width: $desktop-width) {
      width: 122px;
      height: 44px;
    }

    @media (max-width: $tablet-width) {
      width: 82px;
      height: 17px;
    }

    @media (max-width: $mobile-width) {
      width: 69px;
      height: 24px;
    }
  }
}

.header__phone {
  display: block;
  color: $base-white;
  font-family: $alumni-sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: $bright-turquoise;
    outline: none;
  }

  &:active {
    color: $malibu;
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    top: 0;
  }
}

.header__main {
  position: relative;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }

  @media (min-width: 900px) {
    justify-content: center;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: $base-white;
    margin-left: 119px;
    font-family: $alumni-sans;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-bottom: 13px;
    margin-top: 138px;

    @media (max-width: $tablet-width) {
      font-size: 30px;
      line-height: 41px;
      position: absolute;
      top: -44px;
      left: 10px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 32px;
      position: static;
      text-align: right;
      margin-top: 65px;
      margin-right: 5px;
    }
  }

  h1 {
    color: $base-white;
    margin: 0;
    padding: 0;
    font-family: $alumni-sans;
    text-transform: uppercase;
    font-size: 92px;
    line-height: 110px;
    text-align: right;
    margin-bottom: 49px;
    letter-spacing: 0.05em;

    @media (max-width: $tablet-width) {
      text-transform: none;
      font-size: 72px;
      line-height: 87px;
      margin-top: 138px;
      margin-bottom: 35px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.header__list {
  position: absolute;
  left: 20px;
  top: 325px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: $roboto-condensed;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $base-white;

  @media (max-width: $tablet-width) {
    top: 228px;
    left: 0;
  }

  @media (max-width: $mobile-width) {
    top: 219px;
    left: 0;
  }
}

.header__picture {
  margin-top: 21px;

  @media (max-width: $tablet-width) {
    margin-top: 42px;
    margin-left: 30px;
    max-width: 324px;

    img {
      height: 390px;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__buy {
  padding: 20px 48px 19px;

  @media (max-width: $tablet-width) {
    padding: 20px 16px;
    margin-left: 5px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__buy,
.header__button {
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: 4px solid $base-white;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  color: $base-white;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    min-width: 234px;
    max-width: 236px;
    margin-left: 18px;
  }

  &:hover,
  &:focus {
    border-color: $bright-turquoise;
    color: $bright-turquoise;
    border-radius: 5%;
  }

  &:active {
    border-color: $egyptian-blue;
    color: $egyptian-blue;
    border-radius: 10%;
  }
}

.header__button {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: -21px;
  margin-right: 64px;

  @media (max-width: $tablet-width) {
    margin: 0;
    position: relative;
  }
}


.header__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

//опциональный визуальный фикс для крупного экрана
.header__container {
  @media (min-width: 1500px) {
    display: flex;
    justify-content: center;

    .header__phone {
      margin-left: 46px;
    }

    .header__list {
      left: -20px;
    }
  }
}
