.promo {
  padding-top: 120px;
  padding-bottom: 106px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: 500px 660px;
  grid-template-rows: 1fr;
  justify-content: center;

  @media (max-width: $tablet-width) {
    grid-template-columns: 292px 386px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.promo__description {
  background-color: $torch-red;

  @media (min-width: $desktop-width) {
    width: 500px;
    padding: 85px 79px 87px 78px;
  }

  @media (max-width: $tablet-width) {
    width: 292px;
    padding: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 50px 44px;
  }

  .promo__context {
    color: $base-white;
    margin: 0;
    font-family: $roboto-condensed;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 55px;

    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 36px;
    }

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }

  a {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
    border: 4px solid $base-white;
    font-family: $roboto-condensed;
    color: $base-white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;

    &:hover,
    &:focus {
      color: $bright-turquoise;
      border-color: $bright-turquoise;
      border-radius: 10px;
    }

    &:focus {
      outline: none;
    }

    &:active {
      color: $egyptian-blue;
      border-color: $egyptian-blue;
      border-radius: 30px;
    }

    @media (max-width: $tablet-width) {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.promo__picture {
  background-color: $midnight-express;
  width: 660px;

  @media (max-width: $tablet-width) {
    width: 386px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  img {
    object-fit: contain;
  }
}

.promo__info {
  display: flex;
  gap: 50px;
  margin-bottom: 33px;

  @media (max-width: $tablet-width) {
    gap: 29px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
  }

  h3 {
    font-family: $alumni-sans;
    text-transform: uppercase;
    font-size: 82px;
    line-height: 79px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $base-white;
    margin: 0;

    @media (max-width: $tablet-width) {
      font-size: 48px;
      line-height: 46px;
    }
  }

  p {
    position: relative;
    margin: 0;
    font-family: $roboto-condensed;
    color: $base-white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    padding-bottom: 13px;

    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 12px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 64px;
      height: 1px;
      background-color: $base-white;
      bottom: 0;
      left: 0;

      @media (max-width: $tablet-width) {
        width: 42px;
      }
    }
  }
}

.promo__time p {
  &::after {
    width: 88px;

    @media (max-width: $tablet-width) {
      width: 56px;
    }
  }
}

.promo__date-wrapper {
  margin-bottom: 12px;
}

.promo__date {
  display: flex;
  gap: 7px;
  align-items: center;

  @media (max-width: $tablet-width) {
    gap: 3px;
  }
}

.promo__date span,
.promo__time span {
  color: $base-white;
  font-family: $roboto-condensed;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.promo__period span {
  color: $base-white;
  display: block;
  font-family: $roboto-condensed;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    font-size: 10px;
    line-height: 15px;
  }
}
