.reviews {
  padding-top: 51px;
  padding-bottom: 120px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 5px 0 99px;
  }

  @media (max-width: $mobile-width) {
    padding: 63px 0 64px;
  }

  h2 {
    font-family: $alumni-sans;
    color: $sapphire;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 37px;
    margin-left: 5px;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 40px;
      margin-left: 0;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 42px;
    }
  }
}

.reviews__comment {
  background-color: $resolution-blue;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 28px;
  row-gap: 18px;
  margin: 0 auto;
  padding: 55px 62px 57px;

  @media (max-width: $tablet-width) {
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 68px 1fr;
    column-gap: 30px;
    padding: 33px 25px 34px;
    row-gap: 11px;
  }
}

.reviews__wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $desktop-width) {
    min-width: 672px;
    max-width: 672px;
  }

  @media (min-width: 768px) {
    min-width: 678px;
    width: 100%;
    padding: 0 56px;
  }

  @media (max-width: $mobile-width) {
    min-width: 226px;
    width: calc(100% - 92px);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__picture {
  grid-row: 1/3;

  @media (max-width: $mobile-width) {
    grid-row: 1/2;
  }

  img {
    margin-top: 7px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: $mobile-width) {
      margin-left: 16px;
    }
  }
}

.reviews__description {
  color: $base-white;
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  grid-column: 2/3;

  @media (max-width: $mobile-width) {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__author {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 13px;
  text-align: left;
  color: $base-white;

  @media (max-width: $mobile-width) {
    line-height: 26px;
    margin-top: 16px;
  }

  br {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}



.reviews__button {
  cursor: pointer;
  position: absolute;
  border-color: transparent;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 50px;


  &:hover {
    outline: 1px solid $solitude;
  }

  &:focus {
    outline: 1px solid $solitude;
  }

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 32px;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    top: 8px;

    @media (max-width: $mobile-width) {
      width: 10px;
      height: 32px;
    }
  }
}

.reviews__button.swiper-button-disabled {
  cursor: default;

  &::before {
    opacity: 0.4;
  }
}

.reviews__button--prev {
  @media (min-width: $desktop-width) {
    left: -25px;
  }

  @media (max-width: $tablet-width) {
    left: -17px;
  }

  @media (max-width: $mobile-width) {
    left: -47px;
    top: 50%;
  }
}

.reviews__button--next {
  @media (min-width: $desktop-width) {
    right: -25px;
  }

  @media (max-width: $tablet-width) {
    right: -17px;
  }

  @media (max-width: $mobile-width) {
    right: -47px;
    top: 50%;
  }

  &::before {
    transform: rotate(180deg) translateX(100%);
  }
}

.reviews__block--no-js {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.reviews__button--no-js {
  display: none;
}
