.trainers {
  padding-bottom: 91px;

  @media (max-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    padding-bottom: 70px;
  }

  h2 {
    margin: 0;
    font-family: $alumni-sans;
    color: $sapphire;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-left: 2px;
    margin-bottom: 48px;

    @media (max-width: $tablet-width) {
      text-align: center;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 31px;
      margin-left: -5px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 44px;
    }
  }
}

.trainers__wrapper {
  position: relative;
}

.trainers__container {
  margin: 0 auto;

  @media (min-width: 1300px) {
    padding: 0 103px;
    min-width: 994px;
    max-width: 1366px;
  }

  @media (min-width: $desktop-width) {
    min-width: 994px;
    max-width: 1060px;
    padding: 15px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 101px;
    width: 768px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 47px;
    width: 100%;
    max-width: 500px;
  }
}

.trainers__swiper.swiper {
  @media (max-width: $tablet-width) {
    width: 566px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100%;
  }
}

.trainers__button {
  background-color: transparent;
  border: none;

  &:hover {
    border-bottom: 1px solid $solitude;
  }

  &:focus-within {
    border: none;
    outline: none;
  }

  &:focus-within::after {
    outline: 1px solid $solitude;
    border: none;
  }
}

.trainers__button--prev {
  left: -56px;

  @media (max-width: $mobile-width) {
    left: -31px;
  }
}

.trainers__button--next {
  right: -56px;

  @media (max-width: $mobile-width) {
    right: -35px;
  }
}


.trainers__button--prev.swiper-button-prev::after,
.trainers__button--next.swiper-button-next::after {
  content: "";
  position: absolute;
  background-image: url("../img/svg/arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 32px;

  @media (max-width: $mobile-width) {
    max-width: 10px;
  }
}

.trainers__button--prev.swiper-button-prev::after {
  left: -2px;
}

.trainers__button--next.swiper-button-next::after {
  transform: rotate(180deg);
  left: 13px;
}

.trainers__picture {
  position: relative;
  object-fit: cover;

  @media (min-width: $desktop-width) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 268px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 500px;
    height: 100%;
  }

  p {
    position: absolute;
    margin: 0;
    bottom: 21px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-family: $roboto-condensed;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: $base-white;

    @media (max-width: $tablet-width) {
      left: 25px;
    }
  }

  img {
    object-fit: cover;

    @media (min-width: $desktop-width) {
      width: 260px;
      max-height: 294px;
    }

    @media (min-width: 768px) {
      width: 268px;
      max-height: 294px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      height: 100%;
      min-height: 274px;
    }
  }
}

.trainers__card {
  cursor: pointer;
  position: relative;

  @media (min-width: $desktop-width) {
    max-width: 260px;
    min-width: 218px;
  }

  @media (min-width: 768px) {
    width: 268px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 500px;
    min-height: 274px;
  }

  &:hover,
  &:focus-visible {
    .trainers__picture p {
      display: none;
    }

    .trainers__description {
      opacity: 1;
    }
  }
}

.trainers__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $sapphire-lighter;
  height: 294px;
  padding: 52px 20px 50px;
  overflow: auto;
  opacity: 0;

  @media (max-width: $tablet-width) {
    padding: 54px 20px 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 42px 10px 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 260px;
    min-width: 218px;
  }

  @media (min-width: 768px) {
    width: 268px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 500px;
    min-height: 274px;
    height: 100%;
  }

  p {
    margin: 0;
    font-family: $roboto-condensed;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: $base-white;
    margin-bottom: 0;
    text-align: center;

    @media (max-width: $tablet-width) {
      margin-left: -10px;
      margin-bottom: -2px;
    }

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  span {
    display: block;
    color: $sprindle;
    font-family: $roboto-condensed;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: $tablet-width) {
      margin-left: -10px;
    }

    @media (max-width: $mobile-width) {
      margin-left: 0;
      margin-bottom: 32px;
    }
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
    margin-left: 11px;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }

    li {
      color: $base-white;
      font-family: $roboto-condensed;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      position: relative;
    }

    li::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background-color: $base-white;
      border-radius: 50%;
      top: 7px;
      left: -16px;
    }
  }
}

.trainers__block--no-js {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-template-rows: 1fr 1fr;
  gap: 30px;

  @media (max-width: 1300px) {
    grid-template-columns: 268px 268px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 226px;
    justify-content: center;
  }
}

.trainers__button--no-js {
  display: none;
}
