.container {
  min-width: 994px;
  max-width: 1714px;
  margin: 0 auto;
  padding: 0 103px;

  @media (max-width: 1350px) {
    padding: 0 45px;
  }

  @media (max-width: $tablet-width) {
    min-width: 678px;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    padding: 0 15px;
  }
}
