// Colors
// ---------------------------------

// Default
$base-white: #ffffff;
$base-black: #000000;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$torch-red: #ed0233;
$egyptian-blue: #103aae;
$sapphire: #102654;
$chambray: #495a7d;
$ghost-white: #f8f9fc;
$resolution-blue: #1c3374;
$black-russian: #030a1a;
$whisper: #e8e8e8;
$crimson: #d10a42;
$bright-turquoise: #21d3d8;
$midnight-express: #010245;
$persian-blue: #2e35ac;
$malibu: #65abe9;
$light-slate-grey: #74819c;
$screamin-green: #60f588;
$drover: #ffee97;
$solitude: #e1e4ea;
$cobalt: #0041ca;
$sprindle: #b6bdcc;
$dark-cerulean: rgba(20, 54, 122, 0.5);
$border-grey: rgba(120, 120, 120, 0.2);
$opacity-sapphire: rgba(16, 38, 84, 0.5);
$sapphire-lighter: rgba(16, 38, 84, 0.89);

// Gradient
$header-gradient: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$header-gradient-tablet: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$header-gradient-mobile: conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$border-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$alumni-sans: "Alumni Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
